@CHARSET "UTF-8";

.basicButton{
	background-color: #344d91;
	color: #fff;
	width:100px;
	height:30px;
	border: #2e6da4;
	border-radius: 4px;
}
.basicButton:HOVER {
	background-color:#000080;
}
input[type=checkbox]{
display: none;
}   
div.goupper{ 
	
}
div.item  img{
	width: 75px;
	height: 75px;
	margin: 25px;
}
div.item{	
	border:3px #b1b3e2 solid;
	width: 150px;
	height: 150px;
	display: inline-block;
	padding: 10px;

}
input[type=checkbox]:checked+label div.item{
	border:3px #7276cb solid;
}

div.itemInfo input[type=text]{
	width:150px;
	text-overflow: ellipsis;
	text-align:center;
	margin: auto;
	border: none;
}
ul{
	display:inline;
}
li {
	list-style-type: none;
	display :inline;
}
div.itemFrame{
	text-overflow: ellipsis;
	display :inline;
	font-size: small;
	text-align:center;
}
div.button_Header{
	margin-bottom: 15px;
}
div.contextBox{
	background-color: white;
	border: 2px solid #F8F8F8;
}
div.contextBox>div{
	border-bottom: 1px solid #F8F8F8;
	cursor: pointer;
}
div.contextBox>div:HOVER{
	background-color: #F8F8F8;
}
div.contextBox>div:DISABLED{
	background-color: black;
}
div.upload_hidden{
	
}